body {
  counter-reset: section;
}

.App {
  width: 650px;
  margin: 0 auto;
}

.Header-wrapper {
  display: flex;
  margin-top: 1.5rem;
  gap: 1rem;
}

.Back-button {
  flex-shrink: 0;
  width: 125px;
}

.Back-button button {
  opacity: 0;
  width: 100%;
  padding: 22px 0;
  background: transparent;
  border-radius: 50px;
  color: #b2a8ee;
  cursor: pointer;
  transition: 0.2s;
  animation: fadeInDown 0.2s forwards;
}

.Back-button button:hover {
  background: #221c44;
}

.Back-button button::before {
  content: "<-";
  padding-right: 8px;
  transition: 0.2s;
}

.Back-button button:hover::before {
  content: "<-";
  padding-right: 16px;
}

.App-search {
  position: relative;
  margin-top: 50%;
  display: flex;
  background: #221c44;
  border: 2px solid #4d457c;
  width: 72px;
  color: #ffffff;
  padding: 16px 24px;
  border-radius: 50px;
  gap: 1rem;
  align-items: center;
  animation: grow 0.5s cubic-bezier(0.76, 0, 0.24, 1) forwards,
    borderColor 4.4s 0.5s, ripple 1s 3.2s forwards,
    moveTop 0.9s cubic-bezier(0.5, -0.24, 0.1, 1.2) 3.4s forwards;
}

.App-search h1 {
  min-height: 1.5rem;
  font-size: 1.33rem;
  overflow: hidden;
  border-right: 0.15em solid transparent;
  white-space: nowrap;
  animation: blinkCaret 0.85s 4 forwards, typing 2s steps(40, end),
    changeColor 0.5s 3s forwards;
}

.App-search img {
  width: 24px;
  height: 24px;
}

.App-search--mic {
  margin-left: auto;
}

.App-search-no-animation {
  position: relative;
  display: flex;
  background: #221c44;
  border: 2px solid #4d457c;
  width: 650px;
  color: #b2a8ee;
  padding: 16px 24px;
  border-radius: 50px;
  gap: 1rem;
  align-items: center;
  animation: fadeInDown 0.2s;
}

.App-search-no-animation h1 {
  min-height: 1.5rem;
  font-size: 1.33rem;
  overflow: hidden;
  border-right: 0.15em solid transparent;
  white-space: nowrap;
}

@keyframes grow {
  from {
    width: 72px;
  }
  to {
    width: 650px;
  }
}

@keyframes borderColor {
  0% {
    border-color: #746aa9;
  }
  5% {
    border-color: white;
  }
  100% {
    border-color: white;
  }
}

@keyframes ripple {
  0% {
    border: 2px solid white;
    box-shadow: 0px 0px 20px rgb(255 255 255 / 30%);
    color: #4d457c;
    background: #1d173c;
  }
  20% {
    color: #fff;
    background: #221c44;
  }
  50% {
    box-shadow: 0px 0px 50px rgb(255 255 255 / 5%);
  }
  100% {
    border: 2px solid #4d457c;
    box-shadow: none;
  }
}

@keyframes moveTop {
  from {
    margin-top: 50%;
  }
  to {
    margin-top: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 319px;
  }
}

@keyframes blinkCaret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #6c63ff;
  }
}

@keyframes changeColor {
  from {
    color: #ffffff;
  }
  to {
    color: #b2a8ee;
  }
}

.Search-results,
.Frontend,
.Photographer {
  /* base margin from component 86px */
  margin-top: 1rem;
}

.Search-results {
  margin: 1rem 1.5rem;
}

.Search-results p {
  color: #b2a8ee;
  font-size: 1rem;
  font-weight: 400;
  opacity: 0;
  animation: fadeInDown 0.2s 0.1s forwards;
}

.Search-results--inner {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Search-results--inner div:nth-child(1) {
  flex-shrink: 0;
}

.Search-results--inner p {
  font-size: 1.15rem;
  color: #ca7786;
  font-weight: 700;
  opacity: 0;
  animation: fadeInDown 0.2s 0.15s forwards;
}

.Search-results--inner button {
  color: #ffffff;
  text-decoration: none;
  background: transparent;
  font-size: 1.25rem;
  line-height: 1.5rem;
  cursor: pointer;
  opacity: 0;
  padding: 1rem 2rem;
  border-radius: 50px;
  white-space: nowrap;
  animation: fadeInDown 0.3s 0.2s forwards;
}

.Search-results--inner button:hover {
  color: #0f0b21;
  background: #a8eeee;
}

.Search-results--inner button::before {
  content: "->";
  padding-right: 8px;
  transition: 0.2s;
}

.Search-results--inner button:hover::before {
  content: "->";
  padding-right: 16px;
  opacity: 0.5;
}

@keyframes fadeInDown {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.Frontend,
.Photographer {
  color: #ffffff;
}

.Frontend-wrapper img,
.Photographer-wrapper img {
  width: 185px;
  height: 185px;
  border-radius: 50%;
}

.Frontend a,
.Photographer a {
  color: #a8eeee;
  text-decoration: none;
}
.Frontend a:hover,
.Photographer a:hover {
  text-decoration: #a8eeee wavy underline;
}

.Frontend-wrapper {
  opacity: 0;
  display: flex;
  margin-top: 6rem;
  gap: 24px;
  animation: fadeInDown 0.2s 0.1s forwards;
}

.Frontend-wrapper h3,
.Photographer-wrapper h3 {
  color: #a8eeee;
  font-size: 3rem;
}

.Frontend p,
.Photographer p {
  color: #ffffff;
  line-height: 1.8rem;
  margin-top: 1.5rem;
  font-weight: 500;
  opacity: 0.84;
}

.Frontend .subtitle,
.Photographer .subtitle {
  color: #b2a8ee;
  font-weight: 700;
  margin-top: 0.5rem;
  opacity: 1;
}

.Frontend-div {
  margin: 8rem 0;
  opacity: 0;
  animation: fadeInDown 0.2s 0.2s forwards;
}

.Photographer-div--header {
  opacity: 0;
  animation: fadeInDown 0.2s 0.2s forwards;
}

.Photographer .img-grid img {
  opacity: 0;
  animation: fade 0.2s 0.5s forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Photographer-div {
  margin: 6rem 0;
}

h4 {
  font-size: 2rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

h4::before {
  counter-increment: section;
  content: "0" counter(section) ".";
  position: relative;
  padding-right: 1rem;
  font-size: 1.35rem;
  color: #a8eeee;
}

h4::after {
  content: "";
  position: relative;
  height: 1px;
  background: #a8eeee;
  width: 100%;
  display: block;
  margin-left: 1rem;
  opacity: 0.3;
}

ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 250px));
  gap: 0px 8px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  line-height: 1.8rem;
}

ul li::before {
  content: "♜";
  padding-right: 1rem;
  color: #a8eeee;
}

.Projects {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0px;
  margin: 2.5rem 0 0 0;
  line-height: 1.8rem;
  position: relative;
}

.Projects a {
  display: flex;
}

.Projects a:hover {
  text-decoration: none;
}

.Projects-div {
  background: #221c44;
  padding: 1.75rem 1.85rem 1.85rem 1.85rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: 0.2s;
  height: 340px;
  width: 309px;
}

.Projects-div:hover {
  background: #1b1637;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}

.Projects-div:hover .title {
  color: #a8eeee;
}

.Projects-div p:first-child {
  margin: 0;
}

.Projects-div .title {
  opacity: 1;
  font-size: 1.35rem;
  font-weight: 700;
  color: #ffffff;
  transition: 0.2s;
}

.Projects-div p {
  margin-top: 1rem;
  opacity: 0.65;
}

.Projects-div .stack {
  opacity: 0.85;
  font-size: 0.85rem;
  color: #b2a8ee;
}

.Projects-div footer {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 0.5rem;
}

.Projects-div footer .icons {
  display: flex;
  gap: 0.75rem;
}

.Projects-div footer a {
  color: #b2a8ee;
  transition: 0.2s;
}

.Projects-div footer a:hover {
  color: #a8eeee;
}

.Contact {
  display: flex;
  margin: 3rem 0;
  gap: 3rem;
}

.Contact a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: 0.2s;
  color: #b2a8ee;
  padding: 1rem 0;
}

.Contact a:hover {
  text-decoration: none;
  color: #a8eeee;
}

.Footer {
  margin: 8rem 0 4rem 0;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  opacity: 0.5;
}

.Photographer-wrapper {
  opacity: 0;
  animation: fadeInDown 0.2s 0.1s forwards;
  display: flex;
  margin-top: 5rem;
  margin-bottom: 3rem;
  gap: 24px;
  align-items: center;
}

.img-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit);
  gap: 1rem;
}

.special {
  grid-column-start: 1;
  grid-column-end: 4;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 1rem;
}

.img-wrapper > img {
  display: block;
  width: 100%;
  aspect-ratio: 4 / 5;
  object-fit: cover;
}

.special > img {
  aspect-ratio: 5 / 4;
}

.img-wrapper > .content {
  position: absolute;
  inset: 0;
  padding: 1.5rem;
  background: linear-gradient(160deg, transparent 45%, #000000 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  gap: 1rem;
}

.content span {
  font-size: 1.25rem;
}

.content .location {
  font-size: 0.875rem;
  font-weight: 400;
  opacity: 0.75;
}

.content .location svg {
  padding-right: 0.155rem;
}

.img-wrapper > img,
.img-wrapper > .content {
  transition: 0.2s ease-in;
}

.img-wrapper > .content.fade {
  opacity: 0;
  transform: translateY(4%);
}

.img-wrapper:hover > .content.fade {
  opacity: 1;
  transform: translateY(0%);
}

.img-wrapper:hover > .zoom {
  transform: scale(1.1);
}

.modal {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transform: scale(0);
  background: #000000;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s;
}

.modal.open {
  opacity: 1;
  transform: scale(1);
}

.modal.open img {
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  line-height: 0;
  pointer-events: none;
  opacity: 0;
  animation: fadeInDownImg 0.2s 0.2s forwards;
}

@keyframes fadeInDownImg {
  from {
    transform: translateY(-2%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.open body {
  overflow: hidden;
  padding-right: 15px;
}

.infos {
  opacity: 0;
  position: relative;
  display: flex;
  gap: 2rem;
  padding: 1.5rem;
}

.infos p {
  margin: 0;
  line-height: 1.5rem;
}

.Hidden-lg,
.hidden-flex {
  display: none;
}

.infos .alpha {
  opacity: 0.5;
  text-align: right;
}

.open .infos {
  animation: fadeInDown 0.2s 0.3s forwards;
}

@media only screen and (max-width: 800px) {
  .img-wrapper:hover > .content.fade {
    opacity: 0;
  }
  .Hidden-xs {
    display: none;
  }

  .Hidden-lg {
    display: block;
    margin: 0 auto;
  }

  .Hidden-lg img {
    width: 150px;
    height: 150px;
  }

  .hidden-flex {
    display: flex;
  }

  .App {
    width: 100vw;
    max-width: 100vw;
    padding: 0 1.5rem;
  }

  .App-search {
    margin-top: 35vh;
  }

  .App-search-no-animation {
    padding: 1rem;
    gap: 0.75rem;
    height: 3.5rem;
    width: 100%;
    max-width: 100vw;
  }

  .App-search-no-animation h1 {
    font-size: 1.1rem;
    min-height: 1.25rem;
  }

  .App-search-no-animation img {
    width: 1rem;
    height: 1rem;
  }

  .Back-button {
    width: 70px;
  }

  .Back-button button {
    padding: 1rem 0;
  }

  .Back-button button:hover {
    background: transparent;
  }

  .Header-wrapper {
    gap: 0;
    flex-direction: column;
  }

  .Header-wrapper div:nth-child(2) {
    visibility: hidden;
  }

  .App-search {
    padding: 1rem;
    gap: 0.75rem;
    height: 3.5rem;
  }

  .App-search h1 {
    font-size: 1.1rem;
    min-height: 1.25rem;
  }

  .App-search img {
    width: 1rem;
    height: 1rem;
  }

  .Search-results {
    margin: 1rem 1.25rem;
  }

  .Search-results p {
    line-height: 1.5rem;
  }

  .Search-results--inner {
    gap: 1.25rem;
  }

  .Search-results--inner p {
    color: #a8eeee;
  }

  .Search-results--inner div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .Search-results--inner button {
    margin: 0 -1rem;
    padding: 0.75rem 1rem;
    font-size: 1.25rem;
    border-radius: 4px;
    line-height: 1.95rem;
    white-space: normal;
    text-align: left;
    background: #a8eeee;
    color: #0f0b21;
  }

  .Search-results--inner button::before {
    opacity: 0.5;
  }

  @keyframes grow {
    from {
      width: 72px;
    }
    to {
      width: 100%;
      max-width: 100vw;
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 263px;
    }
  }

  @keyframes moveTop {
    from {
      margin-top: 35vh;
    }
    to {
      margin-top: 0;
    }
  }

  .Frontend-wrapper,
  .Photographer-wrapper {
    flex-direction: column;
    margin-top: -2.25rem;
  }

  .Frontend-wrapper h3,
  .Photographer-wrapper h3 {
    font-size: 2.5rem;
  }

  .Frontend-div,
  .Photographer-div {
    margin-top: 5rem;
  }

  .Projects-div {
    width: 100%;
    height: 320px;
  }

  .Projects .Anchor-wrapper {
    width: 100%;
  }

  ul {
    margin-top: 2rem;
    gap: 1rem 1rem;
  }

  ul li::before {
    padding-right: 0.5rem;
  }

  .Contact {
    flex-direction: column;
    gap: 1.5rem;
  }

  .Contact a {
    width: 100%;
    justify-content: center;
    background: #a8eeee;
    color: #0f0b21;
    border-radius: 0.5rem;
  }

  .Contact a:hover {
    color: #0f0b21;
  }

  h4 {
    white-space: normal;
  }

  .Footer {
    margin: 4rem 0;
  }
}
