.App {
  width: 652px;
  margin: 0 auto;
}

.App-search {
  position: absolute;
  top: 50%;
  display: flex;
  background: #221c44;
  border: 2px solid #4d457c;
  width: 72px;
  color: #FFFFFF;
  padding: 16px 24px;
  border-radius: 50px;
  gap: 1rem;
  align-items: center;
  animation: 
    grow 1.2s ease-out forwards, 
    borderColor 4.4s 1.2s,
    ripple 1s 4.8s forwards, 
    moveTop 1.3s cubic-bezier(0.5, -0.24, 0.1, 1.2) 5s forwards;
}

.App-search img {
  width: 24px;
  height: 24px;
}

.App-search--mic {
  margin-left: auto;
}

@keyframes grow {
  from {
    width: 72px;
  }
  to {
    width: 652px;
  }
}

@keyframes borderColor {
  0% {
    border-color: #746aa9;
  }
  5% {
    border-color: white;
  }
  100% {
    border-color: white;
  }
}

@keyframes ripple {
  0% {
    border: 2px solid white;
    box-shadow: 0px 0px 20px rgb(255 255 255 / 20%);
    color: #4d457c;
    background: #1d173c;
  }
  20% {
    color: #fff;
    background: #221c44;
  }

  50% {
    box-shadow: 0px 0px 50px rgb(255 255 255 / 5%);
  }
  100% {
    border: 2px solid #4d457c;
    box-shadow: none;
  }
}

@keyframes moveTop {
  from {
    top: 50%;
  }
  to {
    top: 24px;
  }
}

.App-search h1 {
  min-height: 1.5rem;
  font-size: 1.33rem;
  overflow: hidden;
  border-right: 0.15em solid transparent; 
  white-space: nowrap;
  animation: 
    blinkCaret 0.85s 5 forwards,
    typing 2.5s steps(40, end),
    changeColor .5s 4s forwards
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 319px;
  }
}

@keyframes blinkCaret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #6c63ff;
  }
}

@keyframes changeColor {
  from {
    color: #FFFFFF;
  }
  to {
    color: #B2A8EE;
  }
}

.Search-results {
  /* base margin from component 86px */
  margin: 102px 24px 0 24px;
}

.Search-results p {
  color: #B2A8EE;
  font-size: 1.15rem;
  font-weight: 400;
  opacity: 0;
  animation: fadeInDown .2s forwards;
}

.Search-results--inner {
  margin-top: 48px;
  display: flex;
  gap: 16px;
}

.Search-results--inner p {
  color: #CA7786;
  font-weight: 700;
  opacity: 0;
  animation: fadeInDown .3s .1s forwards;
}

.Search-results h2 {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 8px;
  opacity: 0;
  animation: fadeInDown .4s .2s forwards;
}

@keyframes fadeInDown {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
